/* General styling applicable to entire page */

html {
font-family: Helvetica, sans-serif;
font-size: 22px;
color: Seashell;
background-color: Black;
opacity: 0.9;
text-align: center;
}

a:visited {
  color: Seashell;
}

/* Container for heading */

.heading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid Seashell;

}

/* Logo box in heading */

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

/* Navbar box in heading */

.navbar {
  width: 500px;
}

.navbar span {
  padding: 20px;
  text-decoration: underline;
}
