/* General styling applicable to entire page */

html {
font-family: Helvetica, sans-serif;
font-size: 22px;
color: Seashell;
background-color: Black;
opacity: 0.9;
text-align: center;
}

/* Link styling to spec color */

a:link {
  color: Seashell;
}

a:visited {
  color: Seashell;
}

a:hover {
  color: Seashell;
}

a:active {
  color: Seashell;
}

/* Container for heading */

.heading {
  position: fixed;
  top: 0;
  background-color: Black;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid Seashell;

}

/* Logo box in heading */

.logo {
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

/* Navbar box in heading */

.navbar {
  width: 500px;
}

.navbar span {
  padding: 20px;
  text-decoration: underline;
}

/* Container for mission section */

.mission-container {
  background-image: url(./../images/background.jpg);
  background-color: BurlyWood;
  width: 1200px;
  height: 700px;
  margin: 70px auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mission statemtn box */

.mission-statement {
  background-color: Black;
  width: 1200px;
}

/* Container for featured tea section */

.featured-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  width: 1000px;
  margin: 70px auto auto auto;
}

/* Featured tea heading box */

.featured-heading {
  width: 1000px;
}

/* featured tea boxes */

.tea {
  width: 300px;
  padding: 10px;
}

.tea img {
  height: 200px;
}
